{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
    <title>measurement|length</title>
</head>
<body>

    {% include 'navber.html' %}

    <div class="container py-5 my-5 ">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ipsam temporibus, quibusdam suscipit quis odit doloribus ex et quae eum distinctio accusamus minima sequi dolor odio ut molestiae consequatur dignissimos? Dolor, minima? Dolore nisi corrupti vel, repellat, natus laudantium provident corporis reiciendis officiis minima facilis, eum iste consequatur! Aliquid ex fugiat voluptate accusamus dignissimos qui aut dolorum dolore? Eligendi, fugit? Minima quis rem quidem impedit sequi saepe veritatis facilis iure? Deserunt quas, distinctio repellat aperiam assumenda ipsam animi expedita necessitatibus repellendus velit perferendis impedit vel. Consequuntur id vitae corrupti rerum ducimus, obcaecati unde ab atque accusantium, eaque tenetur et commodi.</p>
    </div>
</body>
</html>