{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <style>
            body{
                font-family: 'Roboto', sans-serif;
            }
            .list-group-item.active{
                background-color: gainsboro;
                border-color: gainsboro;
            }
        </style>
        <title>{% block 'title' %}Unit Converter{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Unit Converter</a>
            <ul class="navbar-nav mr-auto"></ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-2 mt-4">
                    <h5>Categories</h5>
                    <div class="list-group medium">
                        {% for category in categories %}
                        <a href="{% url 'home' %}?category={{ category.pk }}" 
                            class="py-2 list-group-item {% if category.id == conversion.from_unit.category_id %}active disabled{% endif %}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    {% block 'content' %}{% endblock %}
                </div>
                <div class="col-md-3 col-lg-3 my-4">
                    <h5>More</h5>
                    <ul class="list-group medium">
                        {% for converter in converters %}
                        <li class="list-group-item py-1">
                            <a href="{% url 'converter' converter.name %}">
                                {{ converter.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
        {% block 'extra_js' %}{% endblock %}
    </body>
</html>